<!-- #######  YAY, I AM THE SOURCE EDITOR! #########-->
<h1 style="color: #5e9ca0;">Personal Property Insurance Claim Tracker</h1>
<h2 style="color: #2e6c80;">How to use the editor:</h2>
<p>Right now there is nothing to do. It just prints the current master list stored in the local database in tabular form.</p>
<br><hr>
<form action="/main" method="POST">
<input name="show-list" id="submit" type="submit" value="   Show Master   " />
<input name="hide-list" id="submit" type="submit" value="   Hide Master   " />
<input name="show-unapproved" id="submit" type="submit" value="   Show Unapproved Only   " />
</form>

<form action="/main" method="POST">
<input type="text" name="desc" placeholder="description"><br>
<input type="text" name="qty" placeholder="quantity"><br>
<input type="text" name="owner" placeholder="owner"><br>
<input type="text" name="room" placeholder="room"><br>
<input type="text" name="notes" placeholder="notes"><br>
<input name="add-doc" id="submit" type="submit" value="   Add Line Item   " />
</form>

<table>
	<tr>
		<td colspan="2"><font size=6> Insurance List</font></td>
	</tr>
	{% for item in master %}
	<tr>
		<td>{{item['seq']}}: </td>
		<td>
			{% if not item['repl-desc'] %}
				<font color="blue">{{item['orig-desc']}}</font>
			{% else %}
				{{item['repl-desc']}}
			{% endif %}
		</td>
	</tr>
	{% endfor %}
</table>
	
<p>&nbsp;</p>
<h2 style="color: #2e6c80;">Some useful features coming soon:</h2>
<ol style="list-style: none; font-size: 14px; line-height: 32px; font-weight: bold;">
<li style="clear: both;"><img style="float: left;" src="https://html-online.com/img/01-interactive-connection.png" alt="interactive connection" width="45" />Add items</li>
<li style="clear: both;"><img style="float: left;" src="https://html-online.com/img/02-html-clean.png" alt="html cleaner" width="45" />Modify items</li>
<li style="clear: both;"><img style="float: left;" src="https://html-online.com/img/03-docs-to-html.png" alt="Word to html" width="45" />Mark items as being replaced/reimbursed</li>
<li style="clear: both;"><img style="float: left;" src="https://html-online.com/img/04-replace.png" alt="replace text" width="45" />Input replacement/receipt invoice number</li>
<li style="clear: both;"><img style="float: left;" src="https://html-online.com/img/05-gibberish.png" alt="gibberish" width="45" />Input personal notes</li>
<li style="clear: both;"><img style="float: left;" src="https://html-online.com/img/6-table-div-html.png" alt="html table div" width="45" />Print reports: What hasn't been replacement yet?</li>
</ol>
<p>&nbsp;</p>
<p><strong>Enjoy!</strong></p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<!-- flask or angular for loop to populate master freom mongo db -->

